Node-Red Dashboard-Interface.txt
[{"id":"258f53b.d13adac","type":"tab","label":"MALARIA SYSTEM","disabled":false,"info":""},{"id":"d2408210.1dd53","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"ACEIoT/janvier/#","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":100,"y":420,"wires":[["ffa63ff0.3e51a","b0f9113a.8e7b","a490f840.6fd3a8"]]},{"id":"ffa63ff0.3e51a","type":"function","z":"258f53b.d13adac","name":"Temp","func":"if(msg.topic===\"ACEIoT/janvier/temperature/db\")\n{\n msg.payload=msg.payload;\n return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":340,"wires":[["6db6e03c.4aefe","ea10f900.5047d8","321df8fb.53c568"]]},{"id":"b0f9113a.8e7b","type":"function","z":"258f53b.d13adac","name":"Hum","func":"if(msg.topic==\"ACEIoT/janvier/humidity/db\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":420,"wires":[["42777381.e53efc","2d20d354.f95ccc","9bba8fb7.d69d4"]]},{"id":"321df8fb.53c568","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"2ca3f153.0e237e","order":2,"width":"8","height":4,"gtype":"wave","title":"LAST ENTRY VALUE","label":"  °C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","x":460,"y":260,"wires":[]},{"id":"42777381.e53efc","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"67c7d5b.6d7c92c","order":2,"width":"8","height":4,"gtype":"wave","title":"LAST ENTRY VALUE","label":" %RH","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":400,"wires":[]},{"id":"6db6e03c.4aefe","type":"bar-chart-data","z":"258f53b.d13adac","name":"Gragh","x_interval":"hours","x_size":"24","unit":"TEMPERATURE","precision":"0","is_meter_reading":"False","agg_by":"max","x":410,"y":320,"wires":[["7bb0051.ed4d1fc"]]},{"id":"7bb0051.ed4d1fc","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"2ca3f153.0e237e","order":1,"width":"8","height":4,"label":"MAX  GRAPH","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":580,"y":320,"wires":[[]]},{"id":"ea10f900.5047d8","type":"bar-chart-data","z":"258f53b.d13adac","name":"Gragh","x_interval":"days","x_size":"7","unit":"","precision":"0","is_meter_reading":"False","agg_by":"avg","x":410,"y":360,"wires":[["6d235701.a48e18"]]},{"id":"6d235701.a48e18","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"2ca3f153.0e237e","order":3,"width":"8","height":4,"label":"AVERAGE GRAPH","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ff8080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":590,"y":360,"wires":[[]]},{"id":"2d20d354.f95ccc","type":"bar-chart-data","z":"258f53b.d13adac","name":"Gragh","x_interval":"hours","x_size":"24","unit":" %RH","precision":"0","is_meter_reading":"False","agg_by":"max","x":410,"y":440,"wires":[["12e2170.671f9e9"]]},{"id":"9bba8fb7.d69d4","type":"bar-chart-data","z":"258f53b.d13adac","name":"Gragh","x_interval":"days","x_size":"7","unit":" %RH","precision":"0","is_meter_reading":"False","agg_by":"avg","x":410,"y":480,"wires":[["86fe4e39.4e5d"]]},{"id":"12e2170.671f9e9","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"67c7d5b.6d7c92c","order":1,"width":"8","height":4,"label":"MAX  GRAPH","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#008000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":580,"y":440,"wires":[[]]},{"id":"86fe4e39.4e5d","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"67c7d5b.6d7c92c","order":3,"width":"8","height":4,"label":"AVERAGE GRAPH","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#008040","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":590,"y":480,"wires":[[]]},{"id":"4f5c4991.c96dc8","type":"function","z":"258f53b.d13adac","name":"R","func":"if(msg.topic==\"ACEIoT/janvier/rain/db\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["e3dd736.ddd1a9"]]},{"id":"d2bc3836.69fa78","type":"bar-chart-data","z":"258f53b.d13adac","name":"Gragh","x_interval":"hours","x_size":"24","unit":"","precision":2,"is_meter_reading":"False","agg_by":"max","x":430,"y":560,"wires":[["64ae7686.37d858"]]},{"id":"f4dc1ed2.83674","type":"bar-chart-data","z":"258f53b.d13adac","name":"Gragh","x_interval":"days","x_size":"7","unit":"","precision":"0","is_meter_reading":"False","agg_by":"avg","x":430,"y":600,"wires":[["56a4918e.56bf6"]]},{"id":"64ae7686.37d858","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"884ddeea.c393e","order":1,"width":"8","height":4,"label":"MAX  GRAPH","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#f80744","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":600,"y":560,"wires":[[]]},{"id":"56a4918e.56bf6","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"884ddeea.c393e","order":3,"width":"8","height":4,"label":"AVERAGE GRAPH","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#2c11c1","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":590,"y":600,"wires":[[]]},{"id":"71199886.b5b398","type":"influxdb out","z":"258f53b.d13adac","influxdb":"f633408b.83da9","name":"","measurement":"SENSORS_DATA","precision":"","retentionPolicy":"","x":900,"y":1170,"wires":[]},{"id":"51330ced.caf934","type":"function","z":"258f53b.d13adac","name":"AI","func":"if(msg.topic==\"ACEIoT/janvier/malaria/prediction\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["2087db64.131a04"]]},{"id":"c02d4fc0.4f6a","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"ACEIoT/janvier/malaria/#","qos":"2","datatype":"auto","broker":"bdfd6787.499058","x":150,"y":700,"wires":[["51330ced.caf934","49d37b53.a96bd4","9b5aa8a7.fcaf88"]]},{"id":"2087db64.131a04","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"d62d5f3b.f08e9","order":1,"width":8,"height":"10","gtype":"compass","title":"","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":640,"wires":[]},{"id":"49d37b53.a96bd4","type":"function","z":"258f53b.d13adac","name":"DATE ","func":"if(msg.topic==\"ACEIoT/janvier/malaria/date\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":350,"y":700,"wires":[["99d16c2.896779"]]},{"id":"99d16c2.896779","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"8cc7a5ce.a289a8","order":1,"width":8,"height":10,"gtype":"compass","title":"TARIKI:","label":"","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":680,"wires":[]},{"id":"c10bdf02.ca198","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"9f8fea7.1a59018","order":1,"width":8,"height":"10","gtype":"compass","title":"ISAHA","label":"","format":"{{msg.payload}}","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":740,"wires":[]},{"id":"9b5aa8a7.fcaf88","type":"function","z":"258f53b.d13adac","name":" TIME:","func":"if(msg.topic==\"ACEIoT/janvier/malaria/time\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["c10bdf02.ca198"]]},{"id":"3d19f2cf.5436ce","type":"function","z":"258f53b.d13adac","name":"H_To_DB","func":"msg.payload=[{\n    HUMIDITY:msg.payload\n }];\n return msg;\n","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["af37d7b4.3eca18"]]},{"id":"6d098b97.27fc14","type":"function","z":"258f53b.d13adac","name":"T_TO_DB","func":"msg.payload=[{\n    TEMPERATURE:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":60,"wires":[["5f0aa38a.158a0c"]]},{"id":"7b4f9857.444298","type":"function","z":"258f53b.d13adac","name":"T","func":"if(msg.topic==\"ACEIoT/janvier/temperature/db\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["6d098b97.27fc14","21fac5df.e6d0ea"]]},{"id":"b5315f47.395e1","type":"function","z":"258f53b.d13adac","name":"H","func":"if(msg.topic==\"ACEIoT/janvier/humidity/db\")\n{\n     msg.payload=msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["3d19f2cf.5436ce"]]},{"id":"21fac5df.e6d0ea","type":"function","z":"258f53b.d13adac","name":"DATE","func":"msg.payload=[{\n    DATE: new Date()\n}];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["348773b8.5d19bc"]]},{"id":"e3dd736.ddd1a9","type":"function","z":"258f53b.d13adac","name":"R_TO_DB","func":"msg.payload=[{\n    RAINFALL:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["40780315.edc83c"]]},{"id":"8aa75f4b.360d2","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"884ddeea.c393e","order":2,"width":"8","height":4,"gtype":"gage","title":"LAST ENTRY VALUE","label":" mm","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":520,"wires":[]},{"id":"a490f840.6fd3a8","type":"function","z":"258f53b.d13adac","name":"RAIN","func":"if(msg.topic==\"ACEIoT/janvier/rain/db\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":560,"wires":[["8aa75f4b.360d2","f4dc1ed2.83674","d2bc3836.69fa78"]]},{"id":"bb52092b.102018","type":"ui_switch","z":"258f53b.d13adac","name":"","label":"SWITCH_1","tooltip":"","group":"ffe37af5.b8e288","order":1,"width":7,"height":"1","passthru":true,"decouple":"false","topic":"LIGHT/SWITCH","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":110,"y":840,"wires":[["a5e7b47d.849458","bea438e5.f96758"]]},{"id":"d0471d9f.3b7f5","type":"ui_switch","z":"258f53b.d13adac","name":"","label":"SWITCH_2","tooltip":"","group":"d819825c.2ce0f","order":1,"width":7,"height":"1","passthru":true,"decouple":"false","topic":"WATER/VALVE","style":"","onvalue":"START","onvalueType":"str","onicon":"","oncolor":"","offvalue":"STOP","offvalueType":"str","officon":"","offcolor":"","x":110,"y":880,"wires":[["1520f5f8.d0b81a","bea438e5.f96758"]]},{"id":"4b35da40.f6c0b4","type":"ui_switch","z":"258f53b.d13adac","name":"","label":"SWITCH_3","tooltip":"","group":"f44fdda7.761da","order":1,"width":7,"height":"1","passthru":true,"decouple":"false","topic":"PUMP/SWITCH","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":110,"y":940,"wires":[["d958aed3.6615c","bea438e5.f96758"]]},{"id":"a5e7b47d.849458","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"ffe37af5.b8e288","order":2,"width":7,"height":9,"gtype":"compass","title":"LAMP","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":860,"wires":[]},{"id":"1520f5f8.d0b81a","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"d819825c.2ce0f","order":2,"width":7,"height":9,"gtype":"compass","title":"WATER VALVE","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":820,"wires":[]},{"id":"d958aed3.6615c","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"f44fdda7.761da","order":2,"width":7,"height":9,"gtype":"compass","title":"PUMP","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":940,"wires":[]},{"id":"bea438e5.f96758","type":"mqtt out","z":"258f53b.d13adac","name":"","topic":"","qos":"2","retain":"","broker":"87e6252b.034468","x":330,"y":880,"wires":[]},{"id":"8f8569d1.6412f8","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"GREEN_H/#","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":115,"y":1020,"wires":[["50ba8cc3.e6cff4","e3bff479.1d3dc8","cf69e790.fbf7c8","4530c8f2.eb3108","a17f45a5.4538e8"]]},{"id":"50ba8cc3.e6cff4","type":"function","z":"258f53b.d13adac","name":"TEMP","func":"if(msg.topic==\"GREEN_H/temperature\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":310,"y":980,"wires":[["66efc9da.065778","a216223f.27534"]]},{"id":"e3bff479.1d3dc8","type":"function","z":"258f53b.d13adac","name":"HUM","func":"if(msg.topic==\"GREEN_H/humidity\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":320,"y":1065,"wires":[["a68df41e.708f18","2e2c5921.4126f6"]]},{"id":"4530c8f2.eb3108","type":"function","z":"258f53b.d13adac","name":"MOISTURE","func":"if(msg.topic==\"GREEN_H/moisture\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":340,"y":1320,"wires":[["776a99ab.8b9ff8","5d17a4c2.0e7c6c"]]},{"id":"cf69e790.fbf7c8","type":"function","z":"258f53b.d13adac","name":"VALVE","func":"if(msg.topic==\"GREEN_H/valve\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":350,"y":1200,"wires":[["466b989.0561e68","138e2940.549a37"]]},{"id":"66efc9da.065778","type":"function","z":"258f53b.d13adac","name":"T_DB","func":"msg.payload=[{\n    TEMPERATURE:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1020,"wires":[["71199886.b5b398"]]},{"id":"a68df41e.708f18","type":"function","z":"258f53b.d13adac","name":"H_DB","func":"msg.payload=[{\n    HUMIDITY:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":1140,"wires":[["71199886.b5b398"]]},{"id":"466b989.0561e68","type":"function","z":"258f53b.d13adac","name":"FR_DB","func":"msg.payload=[{\n    FLOWRATE:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1260,"wires":[["71199886.b5b398"]]},{"id":"776a99ab.8b9ff8","type":"function","z":"258f53b.d13adac","name":"","func":"msg.payload=[{\n    MOISTURE:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":1395,"wires":[["71199886.b5b398"]]},{"id":"a17f45a5.4538e8","type":"function","z":"258f53b.d13adac","name":"TANK_L","func":"if(msg.topic==\"GREEN_H/tanklevel\")\n{\n     msg.payload=msg.payload;\n     return msg;\n}","outputs":1,"noerr":0,"x":345,"y":1440,"wires":[["1c0d8d95.1467e2","fc57a965.9fafd8"]]},{"id":"1c0d8d95.1467e2","type":"function","z":"258f53b.d13adac","name":"LEVEL_DB","func":"msg.payload=[{\n    TANKLEVEL:msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":1500,"wires":[["71199886.b5b398"]]},{"id":"a216223f.27534","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"57a382f8.93f2ac","order":0,"width":"6","height":"9","gtype":"compass","title":"LIVE DATA","label":"   °C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":1000,"wires":[]},{"id":"2e2c5921.4126f6","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"57662fe9.bcdc8","order":0,"width":"6","height":"9","gtype":"compass","title":"LIVE DATA","label":"%RH","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":1100,"wires":[]},{"id":"138e2940.549a37","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"54d5d8a8.cc15a8","order":0,"width":"6","height":"9","gtype":"compass","title":"LIVE DATA","label":"  L/sec","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":1185,"wires":[]},{"id":"5d17a4c2.0e7c6c","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"3d4aba7e.b54f26","order":0,"width":"6","height":"9","gtype":"compass","title":"LIVE DATA","label":"","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":505,"y":1290,"wires":[]},{"id":"fc57a965.9fafd8","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"f9437d21.bf12e","order":0,"width":"6","height":"9","gtype":"compass","title":"LIVE DATA","label":"  m","format":"{{value}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":1420,"wires":[]},{"id":"36b8ef30.baab3","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"ACEIoT/janvier/#","qos":"2","datatype":"auto","broker":"9e2ff4b4.ae73a8","x":100,"y":140,"wires":[["7b4f9857.444298","b5315f47.395e1","4f5c4991.c96dc8"]]},{"id":"40780315.edc83c","type":"mongodb2 in","z":"258f53b.d13adac","service":"_ext_","configNode":"d973ff7c.6516f","name":"","collection":"Sensors_Rain","operation":"insert","x":750,"y":240,"wires":[[]]},{"id":"af37d7b4.3eca18","type":"mongodb2 in","z":"258f53b.d13adac","service":"_ext_","configNode":"d973ff7c.6516f","name":"","collection":"Sensors_Hum","operation":"insert","x":750,"y":160,"wires":[[]]},{"id":"348773b8.5d19bc","type":"mongodb2 in","z":"258f53b.d13adac","service":"_ext_","configNode":"d973ff7c.6516f","name":"","collection":"DATE","operation":"insert","x":720,"y":100,"wires":[[]]},{"id":"5f0aa38a.158a0c","type":"mongodb2 in","z":"258f53b.d13adac","service":"_ext_","configNode":"d973ff7c.6516f","name":"","collection":"Sensors_Temp","operation":"insert","x":730,"y":40,"wires":[[]]},{"id":"29564ce2.793844","type":"function","z":"258f53b.d13adac","name":"","func":"msg = {\n    payload : \"Hello January, TEMP = \" + Date(),\n    topic : \"TEMPERATURE MEASUREMENTS\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1840,"wires":[["2b3b88bf.235138"]]},{"id":"2b3b88bf.235138","type":"e-mail","z":"258f53b.d13adac","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"nijas2012@yahoo.com","dname":"","x":760,"y":1700,"wires":[]},{"id":"400d3342.daae3c","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"temp/x","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":290,"y":1660,"wires":[["29564ce2.793844"]]},{"id":"291cd5b4.2a67fa","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"sensor/bertin","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":240,"y":1980,"wires":[["e1b0126d.ee427"]]},{"id":"e1b0126d.ee427","type":"ui_gauge","z":"258f53b.d13adac","name":"","group":"1b212374.91df5d","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":2000,"wires":[]},{"id":"870bb4fd.030f68","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"Sensors/gps/latitude","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":140,"y":2400,"wires":[["3b9dea77.769166"]]},{"id":"97428a56.36ebd8","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"Sensors/Water/moisture","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":140,"y":2540,"wires":[["d4b646e7.bbb738","930da678.7d22c8"]]},{"id":"241a9c06.970a14","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"Sensors/gps/longitude","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":150,"y":2480,"wires":[["f18f4ef3.b48cd"]]},{"id":"86ad19f9.77c508","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"Sensors/accelerometer/X","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":150,"y":2600,"wires":[["c93f547d.a91fd8"]]},{"id":"58cab102.05c04","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"Sensors/accelerometer/Y","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":150,"y":2660,"wires":[["404a266c.5cac28"]]},{"id":"9af6da89.8743c8","type":"mqtt in","z":"258f53b.d13adac","name":"","topic":"Sensors/accelerometer/Z","qos":"2","datatype":"auto","broker":"87e6252b.034468","x":150,"y":2720,"wires":[["e95b022b.6b78f"]]},{"id":"3b9dea77.769166","type":"ui_text","z":"258f53b.d13adac","group":"45bb3366.82e14c","order":1,"width":9,"height":1,"name":"","label":"Latitude:","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":2400,"wires":[]},{"id":"f18f4ef3.b48cd","type":"ui_text","z":"258f53b.d13adac","group":"45bb3366.82e14c","order":2,"width":9,"height":6,"name":"","label":"Longitude:","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":2440,"wires":[]},{"id":"d4b646e7.bbb738","type":"ui_text","z":"258f53b.d13adac","group":"b545eb27.76a7c8","order":1,"width":9,"height":2,"name":"","label":"Soil Water Level","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":2480,"wires":[]},{"id":"c93f547d.a91fd8","type":"ui_text","z":"258f53b.d13adac","group":"7485341a.aef9ac","order":1,"width":9,"height":1,"name":"","label":"X_Direction:","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":2600,"wires":[]},{"id":"404a266c.5cac28","type":"ui_text","z":"258f53b.d13adac","group":"7485341a.aef9ac","order":2,"width":9,"height":1,"name":"","label":"Y_Direction:","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":2640,"wires":[]},{"id":"e95b022b.6b78f","type":"ui_text","z":"258f53b.d13adac","group":"7485341a.aef9ac","order":3,"width":9,"height":5,"name":"","label":"Z_Direction:","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":2700,"wires":[]},{"id":"930da678.7d22c8","type":"ui_chart","z":"258f53b.d13adac","name":"","group":"b545eb27.76a7c8","order":2,"width":9,"height":5,"label":"Plot","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":2540,"wires":[[]]},{"id":"87e6252b.034468","type":"mqtt-broker","z":"","name":"MQTT SERVER1","broker":"mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ca3f153.0e237e","type":"ui_group","z":"","name":"TEMPERATURE MONITORING","tab":"ca91171b.cfed78","order":1,"disp":true,"width":"8","collapse":false},{"id":"67c7d5b.6d7c92c","type":"ui_group","z":"","name":"HUMIDITY MONITORING","tab":"ca91171b.cfed78","order":3,"disp":true,"width":"8","collapse":false},{"id":"884ddeea.c393e","type":"ui_group","z":"","name":"RAINFALL MONITORING","tab":"ca91171b.cfed78","order":2,"disp":true,"width":"8","collapse":false},{"id":"f633408b.83da9","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SOIL_DATA","name":"","usetls":false,"tls":""},{"id":"bdfd6787.499058","type":"mqtt-broker","z":"","name":"MQTT SERVER2","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d62d5f3b.f08e9","type":"ui_group","z":"","name":"      MALARIA TRANSMISSION RATE","tab":"27b11069.80328","order":1,"disp":true,"width":"9","collapse":false},{"id":"8cc7a5ce.a289a8","type":"ui_group","z":"","name":"CURRENT  DATE:","tab":"27b11069.80328","order":2,"disp":true,"width":"9","collapse":false},{"id":"9f8fea7.1a59018","type":"ui_group","z":"","name":"KIGALI TIME:","tab":"27b11069.80328","order":3,"disp":true,"width":"9","collapse":false},{"id":"ffe37af5.b8e288","type":"ui_group","z":"","name":"LIGHT CONTROL","tab":"40a7db.c16bb824","order":4,"disp":true,"width":7,"collapse":false},{"id":"d819825c.2ce0f","type":"ui_group","z":"","name":"WATER VALVE CONTROL","tab":"40a7db.c16bb824","order":2,"disp":true,"width":7,"collapse":false},{"id":"f44fdda7.761da","type":"ui_group","z":"","name":"PUMP CONTROL","tab":"40a7db.c16bb824","order":1,"disp":true,"width":7,"collapse":true},{"id":"57a382f8.93f2ac","type":"ui_group","z":"","name":"TEMPERATURE MONITORING","tab":"d5f845e4.3dcb08","order":1,"disp":true,"width":"6","collapse":false},{"id":"57662fe9.bcdc8","type":"ui_group","z":"","name":"HUMIDITY MONITORING","tab":"d5f845e4.3dcb08","order":2,"disp":true,"width":"6","collapse":false},{"id":"54d5d8a8.cc15a8","type":"ui_group","z":"","name":"FLOWRATE MONITORING","tab":"d5f845e4.3dcb08","order":3,"disp":true,"width":"6","collapse":false},{"id":"3d4aba7e.b54f26","type":"ui_group","z":"","name":"SOIL MOISTURE MONITORING","tab":"d5f845e4.3dcb08","order":4,"disp":true,"width":"6","collapse":false},{"id":"f9437d21.bf12e","type":"ui_group","z":"","name":"WATER LEVEL MONITORING","tab":"d5f845e4.3dcb08","order":5,"disp":true,"width":"6","collapse":false},{"id":"9e2ff4b4.ae73a8","type":"mqtt-broker","z":"","name":"MQTT Server2","broker":"mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d973ff7c.6516f","type":"mongodb2","z":null,"uri":"mongodb://127.0.0.1:27017/MALARIA","name":"MALARIA","options":"","parallelism":"-1"},{"id":"1b212374.91df5d","type":"ui_group","z":"","name":"Patient Monitoring","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"45bb3366.82e14c","type":"ui_group","z":"","name":"LOCATION MONITORING","tab":"97825732.336f58","order":1,"disp":true,"width":9,"collapse":false},{"id":"b545eb27.76a7c8","type":"ui_group","z":"","name":"SOIL WATER MONITORING","tab":"97825732.336f58","order":1,"disp":true,"width":"9","collapse":true},{"id":"7485341a.aef9ac","type":"ui_group","z":"","name":"ACCELEROMETER DATA","tab":"97825732.336f58","order":2,"disp":true,"width":"9","collapse":false},{"id":"ca91171b.cfed78","type":"ui_tab","z":"","name":"IoT BASED CLIMATE DATA MEASUREMENTS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"27b11069.80328","type":"ui_tab","z":"","name":"MACHINE LEARNING BASED ANALYTICS","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"40a7db.c16bb824","type":"ui_tab","z":"","name":"SITE SYSTEM CONTROL","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"d5f845e4.3dcb08","type":"ui_tab","z":"","name":"IoT BASED FIELD DATA MEASUREMENTS","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"97825732.336f58","type":"ui_tab","z":"","name":"LANDSLIDE DETECTION SYSTEM","icon":"dashboard","disabled":false,"hidden":false}]